<!-- Navigation -->
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
<!-- Carousel -->
<div class="jcarousel">
  <ul>
    <li><img src="/images/Paris_Small.jpg" alt=""></li>
    <li><img src="/images/San_Torini_Small.jpg" alt=""></li>
    <li><img src="/images/Rio_Small.jpg" alt=""></li>
    <li><img src="/images/Pyramid_Small.jpg" alt=""></li>
    <li><img src="/images/Maldives_Small.jpg" alt=""></li>
  </ul>
</div>
<!-- Pagination -->
<p class="jcarousel-pagination"></p>