<!-- Navigation -->
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
<!-- Carousel -->
<div class="jcarousel-title"> <h3>Featured Trips</h3> </div>
<div class="jcarousel">
  <ul>
  	{{#each featured}} 
  		<li> <a href="/trip/{{this._id}}"> <img src="{{this.image_large}}" alt=""> </a> </li> 
  	{{/each}}
  </ul>
</div>