{{#each projects}}
	<div class="project" id="{{id}}">
		<a href="project/{{name}}" class="thumbnail">
			<img src="images/{{image}}" alt="Lorem Pixel image" class="img">
			<p>{{name}}</p>
		</a>
	</div>
{{/each}}