{{> new_user this}}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tripshare</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/trips">Other Trips</a></li>
        <li><a href="/user">My Trips</a></li>
        <li><a href="/followers">Followers</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <a id="search_submit" href="/user" class="btn btn-default">Submit</a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="trigger" href="#" data-toggle="modal" data-target="#new_user_modal">TRIGGER FOR NEW USER</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">FULL NAME <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">FULL NAME</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">SETTINGS</a></li>
            <li><a href="#">ADMIN</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>