{{#if user}}
  
{{else}}
  {{> new_user this}}
  {{> login this}}
{{/if}}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Wanderlust</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/trips">Other Trips</a></li>
        <li><a href="/user">My Trips</a></li>
        <li><a href="/followers">Followers</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="San Francisco">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ user.name }}</a></li>
              <li class="divider"></li>
              <li><a href="#">SETTINGS</a></li>
              <li><a href="/print">ADMIN</a></li>
              <li><a id="signout_link" href="#">Signout</a></li>
            </ul>
          </li>
        {{else}}
          <li><a class="trigger" href="#" data-toggle="modal" data-target="#new_user_modal">Create Account</a></li>
          <li><a class="trigger" href="#" data-toggle="modal" data-target="#login_modal">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>