body {
  margin-right: 10px;
  padding-right: 0px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
h1 {
  margin: 0px;
  float: none;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: auto 0px auto auto;
  padding-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 0px;
  border-bottom: 1px solid #363636;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin: auto 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
h6 {
  margin: auto 0px;
  color: #828282;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
p {
  margin-bottom: 5px;
}
.button {
  display: block;
  width: auto;
  margin: 4px 5px 3px;
  padding: 4px 15px;
  border: 1px solid #919191;
  border-radius: 6px;
  background-color: #527bc7;
  color: white;
  text-align: center;
  text-decoration: none;
}
.trip {
  width: 250px;
  height: auto;
  margin: 7px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  border: 1px solid #ccc6c6;
  border-radius: 5px;
  background-color: white;
}
.trip_cover_photo {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 250px;
  height: auto;
  float: none;
}
.trip_box_info {
  margin-right: 5px;
  margin-left: 5px;
}
.social_buttons {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  margin-left: 0px;
  float: none;
}
.social_buttons.float-right {
  float: right;
}
.social {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  width: auto;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: none;
  clear: none;
}
.social.float-right {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}
.social.float-right.no-borders-margins {
  margin-right: 0px;
}
.social_num {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  float: none;
}
.social_bar {
  display: inline-block;
}
.column {
  position: relative;
  width: 250px;
  margin: 7px 7px 6px;
  padding-right: 0px;
  padding-left: 0px;
}
.trip_pane {
  display: block;
  width: 1070px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.info_pane {
  position: static;
  left: 0px;
  top: 100px;
  right: 0px;
  width: 270px;
  margin: 15px 0px 10px 10px;
  float: left;
}
.prof_pic {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 140px;
  height: 140px;
  float: left;
}
.prof_info {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 600px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}
.prof_box {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  width: 910px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  border: 1px solid #ccc6c6;
  border-radius: 5px;
  background-color: white;
}
.about_me {
  height: 45px;
  margin-left: 0px;
}
.content {
  display: block;
  width: 1350px;
  margin-right: auto;
  margin-left: auto;
}
.prof_stats {
  width: 140px;
  float: right;
}
.social_media {
  height: 30px;
}
.num_results {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px 20px 20px 10px;
  float: right;
}
.search_text {
  margin-top: 1px;
  margin-bottom: 0px;
}
.search_header {
  position: relative;
  margin: 0px;
}
.search_header.margin-10 {
  margin: 10px;
  background-color: white;
}
.filters {
  width: 200px;
  float: left;
}
.search_content {
  position: relative;
}
.filter_headings {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
}
.relative {
  position: relative;
}
.relative.filter_option {
  margin-top: 3px;
  margin-bottom: 3px;
}
.container {
  border-bottom-color: transparent;
  background-color: transparent;
}
.margin-10 {
  margin: 10px;
}
.float-left {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
}
.float-left.result_content {
  position: relative;
  width: 370px;
  height: auto;
  margin: 5px 10px;
  float: left;
}
.float-left.result_content.margin-horizontal {
  margin-right: 10px;
  margin-left: 10px;
}
.float-left.prof_pic-small {
  display: block;
  width: 100px;
  margin-right: 15px;
  float: left;
}
.search_result {
  position: relative;
  display: inline-block;
  width: 690px;
  margin: 10px auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  background-color: white;
}
.result_img {
  width: 300px;
  max-height: 200px;
  float: left;
}
.padding-10 {
  height: auto;
  margin-top: 10px;
  margin-right: 0px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}
.float_bottom {
  position: absolute;
  left: 309px;
  top: 0px;
  float: left;
}
.search_social {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
  display: inline-block;
  min-width: 75px;
  margin-right: 5px;
}
.column-right {
  padding-right: 0px;
  padding-left: 0px;
}
.location {
  display: inline-block;
  float: none;
}
.social-num-right {
  display: inline-block;
  float: none;
}
.status {
  margin-top: 5px;
  margin-bottom: 5px;
  float: none;
}
.album-preview_large {
/*  max-height: 300px;
  height: 260px;*/
  max-width: 345px;
  float: left;
}
.album-preview_small {
  position: static;
  left: 0px;
  top: 0px;
  height: 125px;
  width: 180px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 12px;
  float: none;
}
.album-preview_small.bottom-row {
  position: static;
}
.pictures {
  width: 800px;
}
.prof_pic-small {
  width: 100px;
}
.prof_pic-xsmall {
  width: 40px;
  float: left;
}
.addcomment_box {
  position: static;
  width: 550px;
  height: 50px;
  padding: 5px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}
.comment_form {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 490px;
  margin-left: 2px;
  float: left;
}
.news-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: white;
  width: 950px;
  overflow: auto;
}
.search_filter {
  display: inline-block;
}

.search_container {
  width: 920px;
  overflow: auto;
}

.inline_block {
  display: inline-block;
}
.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.margin_top {
  margin: 5px 0px 0px 0px;
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}

#popup_likes {
  display: none;
}

#popup_favorites {
  display: none;
}