<div class="modal fade" id="new_trip_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>Create New Trip</h1>
      </div>
      <div class="modal-body">
        <div id="trip_alert_container">

        </div>
        <form id="new-trip-form" class="form-horizontal" method="post">
          <div id="title-cg" class="form-group">
            <label class="control-label col-sm-3">Title</label>
            <div class="col-sm-9">
              <input id="title-tf" class="form-control" name="title" type="text">
            </div>
          </div>
          <div id="location-cg" class="form-group">
            <label class="control-label col-sm-3">Location</label>
            <div class="col-sm-9">
              <input id="location-tf" class="form-control" name="location" type="text">
            </div>
          </div>
          <div id="description-cg" class="form-group">
            <label class="control-label col-sm-3">Description</label>
            <div class="col-sm-9">
              <input id="description-tf" class="form-control" name="description" type="text">
            </div>
          </div>
          {{#if curuser.showPicUpload}}
            <div class="row">
              Leave images empty to keep existing
            </div>
            <div id="large_image-cg" class="form-group">
              <label class="control-label col-sm-3">Large Image</label>
              <div class="col-sm-9">
                <input id="large_image-tf" class="form-control img_upload" name="large_image" type="file">
              </div>
            </div>
            <div id="small_image_0-cg" class="form-group">
              <label class="control-label col-sm-3">Small Image 1</label>
              <div class="col-sm-9">
                <input id="small_image_0-tf" class="form-control img_upload" name="small_0" type="file">
              </div>
            </div>
            <div id="small_image_1-cg" class="form-group">
              <label class="control-label col-sm-3">Small Image 2</label>
              <div class="col-sm-9">
                <input id="small_image_1-tf" class="form-control img_upload" name="small_1" type="file">
              </div>
            </div>
            <div id="small_image_2-cg" class="form-group">
              <label class="control-label col-sm-3">Small Image 3</label>
              <div class="col-sm-9">
                <input id="small_image_2-tf" class="form-control img_upload" name="small_2" type="file">
              </div>
            </div>
            <div id="small_image_3-cg" class="form-group">
              <label class="control-label col-sm-3">Small Image 4</label>
              <div class="col-sm-9">
                <input id="small_image_3-tf" class="form-control img_upload" name="small_3" type="file">
              </div>
            </div>
            <script type="text/javascript">
              $(document).ready(function() {
                $('.img_upload').click(function() {
                  ga("send", "event", "Image Upload Click", "{{curuser.username}} from create trip form");
                });
              });
            </script>
          {{/if}}
          <div id="description-cg" class="form-group">
            <label class="control-label col-sm-3">Tags</label>
            <div class="col-sm-9">
              <div id="tag_container">
                <button id="add_tag_btn" type="button" class="btn btn-default">Add Tag</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-7 col-sm-2">
              <button id="trip_close_btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="col-sm-2">
              <button id="trip_submit_btn" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $(document).ready(function() {

  var MaxInputs       = 8; //maximum input boxes allowed
  var InputsWrapper   = $("#tag_container"); //Input boxes wrapper ID
  var AddButton       = $("#add_tag_btn"); //Add button ID

  var x = InputsWrapper.length; //initlal text box count
  var FieldCount=0; //to keep track of text box added

  $(AddButton).click(function (e)  //on add input button click
  {
    if(x <= MaxInputs) //max input box allowed
    {
        FieldCount++; //text box added increment
        //add input box
        $(InputsWrapper).append('<div class="row"><div class="col-md-8"><input type="text" name="tags[]" class="form-control" id="field_'+ FieldCount +'" value="Tag '+ FieldCount +'"/></div><div class="col-sm-4"><a href="#" class="removeclass"><img src="/images/x.jpg" /></a></div></div>');
        x++; //text box increment
    }
    return false;
  });

  $("body").on("click",".removeclass", function(e){ //user click on remove text
    if( x > 1 ) {
        $(this).parent('div').parent('div').remove(); //remove text box
        x--; //decrement textbox
    }
    return false;
  });

  });
</script>