<div class="w-container container">
    <div class="search_header padding-10">
      <h1 class="search_text">Search results for "San Francisco"</h1>
      <div class="num_results">Showing 1-10 of 203</div>
    </div>
  </div>
  <div class="w-container container">
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <div class="fliters padding-10">
          <h4>Filter by</h4>
          <div>
            <h5 class="filter_headings">Location</h5>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
              <div>Mission District</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
              <div>Tenderloin</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
              <div>Sunset District</div>
            </div>
            <div class="w-clearfix relative">
              <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
              <div>Bayview</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
              <div>Bernal Heights</div>
            </div>
          </div>
          <div>
            <h5 class="filter_headings">Interests</h5>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
              <div>Adventure</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
              <div>Arts</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
              <div>Family</div>
            </div>
            <div class="w-clearfix relative">
              <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
              <div>Nature</div>
            </div>
            <div class="w-clearfix relative filter_option">
              <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
              <div>Paradise</div>
            </div>
          </div>
          <div class="w-clearfix relative filter_option">
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
            <div>Relaxation</div>
          </div>
          <div class="w-clearfix relative filter_option">
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
            <div>Thrill</div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-9 w-clearfix column-right">
        <div class="w-clearfix relative">
          <div class="w-clearfix search_result">
            <img class="result_img" src="images/painted_ladies.jpg" alt="52f47740bc0395d971000647_painted_ladies.jpg">
            <div class="float-left result_content">
              <h3>Painted Ladies</h3>
              <div>These colorful, victorian homes can be found all around San Francisco.</div>
            </div>
            <div class="w-clearfix search_social">
              <div class="float_bottom social_num"><strong>60</strong> users have been here</div>
              <div class="social-num-right">76</div>
              <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
            </div>
          </div>
          <div class="w-clearfix search_result">
            <img class="result_img" src="images/goldengate.jpg" alt="52f485c0a560b0da71000761_goldengate.jpg">
            <div class="float-left result_content">
              <h3>Golden Gate Bridge</h3>
              <div>This sprawling, urban park offers an incredible view of the storied Golden Gate Bridge and is a must-see destination for most tourist.&nbsp;</div>
            </div>
            <div class="w-clearfix search_social">
              <div class="float_bottom social_num"><strong>232</strong>&nbsp;users have been here</div>
              <div class="social-num-right">128</div>
              <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
            </div>
          </div>
          <div class="w-clearfix search_result">
            <img class="result_img" src="images/fishermans-wharf.jpg" alt="52f487282b5f8139190007d0_fishermans-wharf.jpg">
            <div class="float-left result_content">
              <h3>Fisherman's Wharf</h3>
              <div>San Francisco’s historical fishing district, and the cites premier destination for seaside dining.</div>
            </div>
            <div class="w-clearfix search_social">
              <div class="float_bottom social_num"><strong>87</strong>&nbsp;users have been here</div>
              <div class="social-num-right">109</div>
              <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
            </div>
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/alcatraz.jpg" alt="52f488146f60c03a1900069a_alcatraz.jpg">
          <div class="float-left result_content">
            <h3>Alcatraz</h3>
            <div>This iconic island prism houses such famous criminals as Al Capone and is a favorite destination of San Francisco visitors.&nbsp;</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>95</strong>&nbsp;users have been here</div>
            <div class="social-num-right">73</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/painted_ladies.jpg" alt="52f47740bc0395d971000647_painted_ladies.jpg">
          <div class="float-left result_content">
            <h3>Painted Ladies</h3>
            <div>These colorful, victorian homes can be found all around San Francisco.</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>60</strong> users have been here</div>
            <div class="social-num-right">76</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/goldengate.jpg" alt="52f485c0a560b0da71000761_goldengate.jpg">
          <div class="float-left result_content">
            <h3>Golden Gate Bridge</h3>
            <div>This sprawling, urban park offers an incredible view of the storied Golden Gate Bridge and is a must-see destination for most tourist.&nbsp;</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>232</strong>&nbsp;users have been here</div>
            <div class="social-num-right">128</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/fishermans-wharf.jpg" alt="52f487282b5f8139190007d0_fishermans-wharf.jpg">
          <div class="float-left result_content">
            <h3>Fisherman's Wharf</h3>
            <div>San Francisco’s historical fishing district, and the cites premier destination for seaside dining.</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>87</strong>&nbsp;users have been here</div>
            <div class="social-num-right">109</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/alcatraz.jpg" alt="52f488146f60c03a1900069a_alcatraz.jpg">
          <div class="float-left result_content">
            <h3>Alcatraz</h3>
            <div>This iconic island prism houses such famous criminals as Al Capone and is a favorite destination of San Francisco visitors.&nbsp;</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>95</strong>&nbsp;users have been here</div>
            <div class="social-num-right">73</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/goldengate.jpg" alt="52f485c0a560b0da71000761_goldengate.jpg">
          <div class="float-left result_content">
            <h3>Golden Gate Bridge</h3>
            <div>This sprawling, urban park offers an incredible view of the storied Golden Gate Bridge and is a must-see destination for most tourist.&nbsp;</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>232</strong>&nbsp;users have been here</div>
            <div class="social-num-right">128</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
        <div class="w-clearfix search_result">
          <img class="result_img" src="images/fishermans-wharf.jpg" alt="52f487282b5f8139190007d0_fishermans-wharf.jpg">
          <div class="float-left result_content">
            <h3>Fisherman's Wharf</h3>
            <div>San Francisco’s historical fishing district, and the cites premier destination for seaside dining.</div>
          </div>
          <div class="w-clearfix search_social">
            <div class="float_bottom social_num"><strong>87</strong>&nbsp;users have been here</div>
            <div class="social-num-right">109</div>
            <img class="social_buttons float-right" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
        </div>
      </div>
    </div>
  </div>