<div class="w-container container">
  <div class="search_header padding-10 search_container">
    <h1 class="search_text">Search results for "{{prevQuery}}"</h1>
    <div class="num_results">Showing 1-{{numTrips}} of {{numTrips}}</div>
  </div>
</div>
<div class="w-container container">
  <div class="w-row search_container">
    <div class="w-col column-right">
      <div class="relative">
        {{#each trips}}
          {{>trip/search_result this}}
        {{/each}}
    </div>
  </div>
</div>