{{> user_header this}}

<div class="w-row trip_pane">
  <div class="w-col w-col-3 w-clearfix column">
    {{#each trips.col0}}
      {{> trip/trip_tile this}}
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
    {{#each trips.col1}}
      {{> trip/trip_tile this}}
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
    {{#each trips.col2}}
      {{> trip/trip_tile this}}
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
    {{#each trips.col3}}
      {{> trip/trip_tile this}}
    {{/each}}
  </div>

<script type="text/javascript">
$(document).ready(function() {
  function incrementLikes(tripID) {
    var num_likes = parseInt($('#trip_' + tripID + ' .like_counter').html(), 10);
    num_likes += 1;
    $('#trip_' + tripID + ' .like_counter').html(num_likes);
  }

  $('.like_icon').click(function() {
    var tripID = $(this).attr("data-trip");
    var data = {
      "tripID": tripID
    };
    var options = {
      type: "POST",
      url: "/like_trip",
      data: data
    };
    $.ajax(options)
    .done(function(data) {
      incrementLikes(data);
    })
    .fail(function(msg) {
      console.log(msg.responseText);
      if (msg.responseText == "must be logged in to like") {
          $('#popup_likes').dialog();     
      }      
    });
  });

  function incrementFavorites(tripID) {
    var num_favorites = parseInt($('#trip_' + tripID + ' .favorite_counter').html(), 10);
    num_favorites += 1;
    $('#trip_' + tripID + ' .favorite_counter').html(num_favorites);
  }

  $('.favorite_icon').click(function() {
    var tripID = $(this).attr("data-trip");
    var data = {
      "tripID": tripID
    };
    var options = {
      type: "POST",
      url: "/favorite_trip",
      data: data
    };
    $.ajax(options)
    .done(function(data) {
      incrementFavorites(data);
    })
    .fail(function(msg) {
      console.log(msg.responseText);
      if (msg.responseText == "must be logged in to favorite") {
        $('#popup_favorites').dialog();               
      }        
    });
  });  
});
</script>