<div>
  <div class="w-clearfix prof_box">
    <img class="prof_pic" src="images/profpic_venice_square.jpeg" width="140" height="140" alt="52f360f6593f6edf41000a4c_profpic_venice_square.jpeg">
    <div class="w-clearfix prof_info">
      <h2>Lucy Wang</h2>
      <p class="about_me">Imperfection is beauty, madness is genius, and it's better to be absolutely ridiculous than absolutely boring.</p>
      <div class="w-clearfix social">
        <img class="social_buttons" src="images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
        <div class="social_num">Philadelphia, PA &nbsp;</div>
        <img class="social_buttons" src="images/facebook.png" alt="52f38687593f6edf41000d09_facebook.png">
        <img class="social_buttons" src="images/twitter.png" alt="52f386ca5d8eed2b6b000e09_twitter.png">
      </div>
    </div>
    <div class="prof_stats"><a class="button" href="#">Follow</a><a class="button" href="#">209 Followers</a><a class="button" href="#">40 Following</a><a class="button" href="#">14 Trips</a>
    </div>
  </div>
</div>
<div class="w-row trip_pane">
  <div class="w-col w-col-3 w-clearfix column">
    <div class="trip">
      <img class="trip_cover_photo" src="images/venice.jpg" alt="52f3524d73df7f296b00080e_venice.jpg">
      <div class="trip_box_info">
        <h3>Venice, Italy</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trip">
      <img class="trip_cover_photo" src="images/greece.jpg" alt="52f3520d593f6edf4100096b_greece.jpg">
      <div class="trip_box_info">
        <h3>Greece</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trip">
      <img class="trip_cover_photo" src="images/venice.jpg" alt="52f3524d73df7f296b00080e_venice.jpg">
      <div class="trip_box_info">
        <h3>Venice, Italy</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 column">
    <div class="trip">
      <img class="trip_cover_photo" src="images/tahiti.jpg" alt="52f3505273df7f296b0007de_tahiti.jpg">
      <div class="trip_box_info">
        <h3>Tahiti</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trip">
      <img class="trip_cover_photo" src="images/amalfi.jpg" alt="52f33f16593f6edf410008ca_amalfi.jpg">
      <div class="trip_box_info">
        <h3>Amalfi, Italy</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 column">
    <div class="trip">
      <img class="trip_cover_photo" src="images/venice.jpg" alt="52f3524d73df7f296b00080e_venice.jpg">
      <div class="trip_box_info">
        <h3>Venice, Italy</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trip">
      <img class="trip_cover_photo" src="images/venice.jpg" alt="52f3524d73df7f296b00080e_venice.jpg">
      <div class="trip_box_info">
        <h3>Venice, Italy</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 column">
    <div class="trip">
      <img class="trip_cover_photo" src="images/tahiti.jpg" alt="52f3505273df7f296b0007de_tahiti.jpg">
      <div class="trip_box_info">
        <h3>Tahiti</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trip">
      <img class="trip_cover_photo" src="images/tahiti.jpg" alt="52f3505273df7f296b0007de_tahiti.jpg">
      <div class="trip_box_info">
        <h3>Tahiti</h3>
        <h5>March 13, 2012</h5>
        <h6>65 photos</h6>
        <div class="w-clearfix social_bar">
          <div class="w-clearfix social">
            <div class="social_num">38</div>
            <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">7</div>
            <img class="social_buttons" src="images/star.png" width="25" alt="52f34cbfba5496e1410009ac_star.png">
          </div>
          <div class="w-clearfix social">
            <div class="social_num">11</div>
            <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>