<form action="/users" class="form-horizontal" method="post" style="">
  <div class="form-group">
    <label class="control-label col-sm-3">Name</label>
    <div class="col-sm-9">
      <input class="form-control" name="name" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Email</label>
    <div class="col-sm-9">
      <input class="form-control" name="email" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Password</label>
    <div class="col-sm-9">
      <input class="form-control" name="password" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-7 col-sm-2">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</form>